$border-radius: 0.5rem !default;
$border-radius-lg: 0.6rem !default;
$border-radius-sm: 0.4rem !default;

@import "~bootstrap";
@import "~bootstrap-vue";

@import "./styles/floating-labels";

body {
  // Background pattern from Toptal Subtle Patterns
  // https://www.toptal.com/designers/subtlepatterns/light-sketch/
  background-image: url(images/furley_bg.png);
  background-attachment: fixed;
  background-repeat: repeat;
}

.btn.card-footer-btn {
  border-radius: 0 0 $card-inner-border-radius $card-inner-border-radius;
  padding: $card-spacer-y $card-spacer-x;
  margin: 0 (-$card-border-width) (-$card-border-width) (-$card-border-width);
}

.btn.btn-primary.card-footer-btn {
  border-color: darken(theme-color("primary"), 10%);
}
