// Adapted from https://codepen.io/peiche/pen/xOVpPo

//
// Note!
// =====
// Each folding label input must have a placeholder, at least one with a single whitespace like:
//
//   <input placeholder=" ">
//

$floating-label-font-size: 0.75 * $font-size-base;
$floating-label-line-height: $line-height-base * $floating-label-font-size;

.form-group.floating-labels {
  position: relative;
  margin-bottom: 1.5rem;
  text-align: left;

  .form-control::placeholder {
    opacity: 0;
    transition: $transition-base;
  }
}

.form-group.floating-labels:first-child {
  margin-top: $floating-label-line-height / 2;
}

.form-group.floating-labels:last-child {
  margin-bottom: $floating-label-line-height / 2;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: calc(#{$input-btn-padding-y} + #{$input-btn-border-width}) 0 0
    calc(#{$input-btn-padding-x} + #{$input-btn-border-width});

  transition: $transition-base;
  color: $input-placeholder-color;
}

.form-control:focus,
// Use :placeholder-shown (instead of say :valid in combination with the [required] attribute so the
// labels stay afloat even though the input is disabled.
.form-control:not(:placeholder-shown),
// The .float class can be added to the .form-control to force the floating style.
.form-control.float {
  & + .form-control-placeholder {
    font-size: $floating-label-font-size;
    transform: translate3d(0, -100%, 0);
    padding-left: 0;
    opacity: 1;
    color: inherit;
  }

  &::placeholder {
    opacity: 1 !important;
  }
}
