// Adapted from https://codepen.io/peiche/pen/xOVpPo

.form-group.floating-labels {
  position: relative;
  margin-bottom: 1.5rem;
  text-align: left;
}

.form-control-placeholder {
  position: absolute;
  top: 0;
  padding: calc(#{$input-btn-padding-y} + #{$input-btn-border-width}) 0 0
    calc(#{$input-btn-padding-x} + #{$input-btn-border-width});

  transition: all 200ms;
  color: $input-placeholder-color;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  padding-left: 0;
  opacity: 1;
  color: inherit;
}
